   /* Basic Styles */
        * {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Arial;
            background: #f4f4f4;
            padding: 20px;
        }

        /* Same style for boxes(Contact, About)*/
        header, main, section, form {
            background: white;
            padding: 20px;
            margin: 20px 0;
            border-radius: 5px;
        }

        header {
            background: #2c5530;
            color: white;
        }

        /* Navigation */
        nav ul {
            list-style: none;
        }

        nav li {
            display: inline;
            margin-right: 20px;
        }

        nav a {
            color: white;
            text-decoration: none;
        }

        /* Headers */
        h2, h3 {
            color: #2c5530;
            margin: 10px 0;
        }

        /* Table */
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 10px;
        }

        th {
            background: #2c5530;
            color: white;
        }

        /* Form */
        input, button {
            padding: 8px;
            margin: 5px 0;
            border: 1px solid #ddd;
        }

        input {
            width: 250px;
        }

        /* Radio buttons  */
        input[type="radio"] {
            width: auto;
            margin-right: 5px;
        }

        button {
            background: #2c5530;
            color: white;
            border: none;
            padding: 10px 20px;
        }

        /* Image */
        .header-image {
            width: 100%;
            max-width: 600px;
            height: 150px;
            object-fit: cover;
            display: block;
            margin: 0 auto;
        }

        /* Map */
        iframe {
            width: 100%;
            max-width: 600px;
            height: 300px;
            border: 2px solid #2c5530;
            border-radius: 5px;
            margin: 10px auto;
            display: block;
        }

